---
import PlotFigure from "../../components/PlotFigure.astro";
import Layout from "../../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";

export function getStaticPaths() {
  const species = [...new Set(penguins.map((p) => p.species))];
  
  return species.map((sp) => ({
    params: { species: sp },
  }));
}

const { species } = Astro.params;
const filteredPenguins = penguins.filter((p) => p.species === species);
---

<Layout>
    <h1 class="text-2xl">{species}</h1>
    <PlotFigure
          options={{
            marks: [
              Plot.dot(
                penguins.filter((p) => p.species === species),
                {
                  x: "culmen_length_mm",
                  y: "culmen_depth_mm",
                  stroke: "species",
                }
              ),
            ],
          }}
        />
</Layout>