---
import PlotFigure from "../../components/PlotFigure.astro";
import Layout from "../../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";

const species = [...new Set(penguins.map((p) => p.species))];
---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-center mb-8 text-gray-800">Lien des pinguins</h1>
        <div class="grid gap-4 max-w-md mx-auto">
            {
                species.map((sp) => (
                <div class="bg-purple-500 hover:bg-purple-600 transition-colors rounded-md my-5">
                    <a href={`/rendu-dynamique/${sp}`} class="block px-6 py-4 text-white font-semibold text-center">
                        {sp}
                    </a>
                </div>
                ))
            }
        </div>
    </div>
</Layout>